body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

header,
nav {
    background-color: #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-tittle,
nav ul li a:hover,
.nav-item.active {
    color: white;
}

#main-tittle {
    margin: 20px;
}

nav {
    padding: 10px;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    cursor: pointer;
    color: black;
}

.nav-item.active {
    font-weight: bold;
    color: white;
}

.section {
    display: none;
}

#about,
#project_1,
#project_2,
#skills,
#contact {
    text-align: center;
    padding: 20px;
}

#about img {
    border-radius: 50%;
    margin: 20px 0;
}

#about p,
#project_1 p,
#project_2 p,
#skills p {
    text-align: justify;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#project_1 h3,
#project_2 h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4CAF50;
}